header {
  background-color: #0020f4;
  height: 387.56px;
  max-width: 1920px;
  width: 100%;
}
.logo {
  width: 115px;
  height: 65px;
}
.navbar-li {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

.navbar-li a {
  color: white;
}

nav,
nav ul {
  display: inline-block;
}
.contact {
  background-color: #ffffff;
  width: 160px;
  height: 50px;
  border-radius: 28px;
  text-align: center;
}
.contact a {
  color: black;
  margin: 18px;
  font-family: Helvetica;
  font-weight: bold;
}
section {
  margin-top: -170px;
  margin-left: 362px;
}
h1 {
  font-size: 28px;
  padding-top: 30px;
  font-family: Helvetica;
  font-weight: bold;
}
.main-img {
  width: 1195px;
  height: 600px;
}
.conteiner {
  display: inline-block;
  padding-top: 60px;
}
.box {
  width: 219px;
  height: 219px;
  margin-right: 25px;
  display: inline-block;
}
.text {
  margin-top: 60px;
  width: 1195px;
}
p {
  font-family: Helvetica;
  font-size: 16px;
  margin: 18px auto;
  width: 951px;
}
.see-more {
  background-color: #0a22f4;
  width: 341px;
  height: 55px;
  border-radius: 28px;
  margin: auto;
}
.more {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding-top: 18px;
  width: 207px;
  font-weight: bold;
}
